%svg-common {
	background: url("../icons/sprite.svg") no-repeat;
}

%-svg-capability1 {
	@extend %svg-common;
	background-position: 0 0;
	width: 70px;
	height: 70px;
}

%-svg-capability2 {
	@extend %svg-common;
	background-position: 0 9.859154929577464%;
	width: 70px;
	height: 70px;
}

%-svg-capability3 {
	@extend %svg-common;
	background-position: 0 19.718309859154928%;
	width: 70px;
	height: 70px;
}

%-svg-capability4 {
	@extend %svg-common;
	background-position: 0 29.577464788732396%;
	width: 70px;
	height: 70px;
}

%-svg-capability5 {
	@extend %svg-common;
	background-position: 0 39.436619718309856%;
	width: 70px;
	height: 70px;
}

%-svg-capability6 {
	@extend %svg-common;
	background-position: 0 49.29577464788732%;
	width: 70px;
	height: 70px;
}

%-svg-company {
	@extend %svg-common;
	background-position: 0 63.63636363636363%;
	width: 120px;
	height: 120px;
}

%-svg-operators {
	@extend %svg-common;
	background-position: 0 81.81818181818181%;
	width: 120px;
	height: 120px;
}

%-svg-security-payment {
	@extend %svg-common;
	background-position: 0 100%;
	width: 120px;
	height: 120px;
}

