// Paths
$imageDir: '../images/';
$iconDir: '../icons/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1230px;
$gutter: 30px;

// Fonts
$Lato: 'Lato', Arial, Tahoma, sans-serif;

// Colors
$white: #fff;
$black: #000;
$mainOrange: #f3a112;
$lightOrange: #ffb738;
$darkOrange: #9a2e12;
 