@import '../helpers/variables';
@import '../helpers/mixins';


.main-header {
  background: $darkOrange no-repeat;
  background-size: cover;
  background-image: url($imageDir + "background-banner.jpg");
  @media (max-width: 1800px) {
    background-image: url($imageDir + "background-banner--1800.jpg");
    background-position-x: -100px;
  }
  @include breakpoint(md) {
    background-image: url($imageDir + "background-banner--768.jpg");
    background-position-x: 0;
  }
  @media (max-width: 320px) {
    background-image: url($imageDir + "background-banner--320.jpg");
  }
}

.main-header__container {
  flex-direction: column;
}

.main-header__top-bar {
  padding: 25px 0;
}

.main-header__banner {
  padding: 176px 0 250px;
  @include breakpoint(md){
    padding: 50px 0 113px;
  }
  @media(max-width: 400px){
    padding: 50px 0 140px;
  }
}