@import '../helpers/variables';
@import '../helpers/mixins';


.our-teams {
  padding: 90px 0;
  background: $white url($imageDir + "background-our-team.jpg") no-repeat;
  background-size: cover;
  @include breakpoint(md){
    padding: 60px 0;
  }
}

.our-teams__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  @include breakpoint(md) {
    font-size: 30px;
  }
  @media (max-width: 400px) {
    font-size: 24px;
  }
}

.our-teams__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  @include breakpoint(md) {
    margin-top: 25px;
  }
  @media (max-width: 400px) {
    margin-top: 0;
  }
}

.our-teams__item {
  width: calc((100% - 90px)/4);
  margin-top: 30px;
  @media (max-width: 1170px) {
    width: calc((100% - 30px)/2);
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}

.our-teams__image-wrapper {
  display: block;
  width: 255px;
  height: 255px;
  //max-width: 255px;
  //min-height: 255px;
  background-color: $black;
  overflow: hidden;
}

.our-teams__item:nth-child(odd) * {
  @media (max-width: 1170px) {
    margin-left: auto;
  }
  @media (max-width: 600px) {
    margin: 0 auto;
  }
}
.our-teams__item:nth-child(even) * {
  @media (max-width: 1170px) {
    margin-right: auto;
  }
  @media (max-width: 600px) {
    margin: 0 auto;
  }
}