@import '../helpers/variables';
@import '../helpers/mixins';


.popup-request {
  position: relative;
  max-width: 768px;
  min-width: 260px;
  padding: 95px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  background-color: $white;
  animation: slide-down .3s ease-in-out;
  @include breakpoint(sm) {
    padding: 60px;
  }
  @media (max-width: 400px) {
    padding: 60px 30px;
  }
}

.popup-request__paragraph {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  @include breakpoint(sm) {
    font-size: 36px;
    line-height: 36px;
  }
  @media (max-width: 400px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.popup-request__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.popup-request__item {
  width: calc((100% - 20px)/2);
  max-width: 280px;
  margin-top: 20px;
  @include breakpoint(sm) {
    width: 100%;
    max-width: 100%;
  }
}

.popup-request__item--textarea {
  max-width: 100%;
  width: 100%;
  min-height: 150px;
}

.popup-request__field {
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px 25px;
  font-weight: 200;
  font-size: 18px;
  border: 1px solid #aaa;
  transition: border-color .3s ease-in-out;
  &:hover {
    border-color: #777;
    @include placeholder {
      color: #777;
    }
  }
  &:focus,
  &:active {
    border-color: #333;
  }
  @include placeholder {
    padding: 15px 15px 15px 25px;
    font-weight: 200;
    font-size: 18px;
    color: #aaa;
  }
  @include placeholderHidden;
  //Цвет ошибки
  &.has-error {
    border-color: #fb794f;
  }
}

.popup-request__button {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}

.popup-request__field--name {
  border-radius: 50px 0 0 50px;
  @include breakpoint(sm) {
    border-radius: 50px;
  }
}

.popup-request__field--number {
  border-radius: 0 50px 50px 0;
  @include breakpoint(sm) {
    border-radius: 50px;
  }
}

.popup-request__field--textarea {
  border-radius: 25px;
  resize: none;
  &:invalid {
    box-shadow: none;
  }
}

.popup-request__button-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  &::before,
  &::after {
    @include pseudo();
    left: 0;
    width: 60px;
    height: 2px;
    background-color: $black;
    transition: all .3s ease-in-out;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    &::before,
    &::after {
      background-color: $lightOrange;
      @include breakpoint(md) {
        background-color: $black;
      }
    }
  }
  @include breakpoint(md) {
    transition: none;
    &:active {
      &::before,
      &::after {
        background-color: $lightOrange;
      }
    }
  }
  @include breakpoint(sm) {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    &::before,
    &::after {
      width: 40px;
    }
  }
  @media (max-width: 400px) {
    &::before,
    &::after {
      width: 30px;
    }
  }
}